body {
  background: rgb(230,169,127);
  background: linear-gradient(90deg, rgba(230,169,127,1) 36%,rgba(0,212,255,1) 100%);	
}

#main_title {
  padding: .5em .5em .2em .5em;
  margin: .5em;	
  font-size: 2.5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  color: #7B241C;
}

#first_name {
  padding: .6em;            	
}

#last_name {
  padding: .6em;	
}

#email {
  padding: .6em;	
}

#address {
  padding: .6em;	
}

#phone {
  padding: .6em;	
}

#dob {
  padding: .6em;	
}

